@import '../../app-variables';

/* Add mobile styles for the component here.  */

// ---------------------------------
// StackLayout, GridLayout, CardView
// ---------------------------------
StackLayout {
  background: white; /* IMPORTANTE */
}
GridLayout {
  background: white; /* IMPORTANTE */
}
CardView {
  margin: 0 20 20 20;
}
.list-group-first {
  margin-top: 20;
}
.tabActiveIndex{
	background-color: transparent;
	z-index: 2;
	border-bottom-width: 1;
	border-color: $verde;
}
.card-default{
	margin-top: 16;
	height: auto;
}