<ActionBar>
  <StackLayout orientation="horizontal">
    <Image src="~/assets/images/icon.png" height="20"></Image>
    <Label text="{{'CASTINGS'|L}}"></Label> 
  </StackLayout>
</ActionBar>

<TabView >
  <TabViewItem title="{{'ONGOING'|L}}">
    <GridLayout class="page page-content">
        <ListView [items]="items" class="list-group">
            <ng-template let-item="item">
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.name" class="list-group-item"></Label>
            </ng-template>
        </ListView>
    </GridLayout>    
 </TabViewItem>
<TabViewItem title="{{'ATTEND'|L}}">
    <GridLayout class="page page-content">
        <ListView [items]="items" class="list-group">
            <ng-template let-item="item">
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.name" class="list-group-item"></Label>
            </ng-template>
        </ListView>
    </GridLayout>
</TabViewItem>
<TabViewItem title="{{'CONCLUDED'|L}}">
    <GridLayout class="page page-content">
        <ListView [items]="items" class="list-group">
            <ng-template let-item="item">
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.name" class="list-group-item"></Label>
            </ng-template>
        </ListView>
    </GridLayout>    
</TabViewItem>
<!-- <ActivityIndicator :busy="isLoading" row="row"></ActivityIndicator> -->
</TabView>