<ActionBar class="action-bar" [title]="'CASTINGS.CASTINGS'|L">
    <!-- <Label class="action-bar-title" [text]="'CASTINGS.CASTINGS'|L" ></Label> -->
    <!-- TITOLO > ANDROID -->
    <StackLayout ios:visibility="collapsed" orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
      <Image src="res://mark" class="action-image text-left pull-left m-r-10"></Image>
      <Label [text]="'CASTINGS.CASTINGS'|L"  class="action-label text-left pull-left"></Label>
    </StackLayout>
    <!-- TITOLO > IOS (hack per allineare a sinistra il titolo) -->
    <ActionItem android:visibility="collapsed" ios.position="left" android.position="left">
        <StackLayout>
            <Image src="res://mark" stretch="none"></Image>
        </StackLayout>
    </ActionItem>
    <ActionItem android:visibility="collapsed" text="" ios.position="left" android.position="left">
      <Label class="action-bar-title text-left pull-left" [text]="'CASTINGS.CASTINGS'|L"></Label>
    </ActionItem>
</ActionBar>

<StackLayout (swipe)="onSwipe($event)">

    <GridLayout columns="*,*,*" rows="auto" class="tab-buttons">
      <GridLayout #tabHighlight col="0" class="tabActiveIndex"></GridLayout>
      <GridLayout col="0" (tap)="onSelectedIndexChange(0)">
        <Label #tab1 [text]="'CASTINGS.ONGOING'|L|uppercase"></Label>
        <!-- <Label #tab1 [text]="'CASTINGS.ONGOING'|L|uppercase" [class.active]="selectedIndex === 0" ></Label> -->
      </GridLayout>
      <GridLayout col="1" (tap)="onSelectedIndexChange(1)">
        <Label  #tab2 [text]="'CASTINGS.ATTEND'|L|uppercase" ></Label>
      </GridLayout>
      <GridLayout col="2" (tap)="onSelectedIndexChange(2)">
        <Label  #tab3 [text]="'CASTINGS.CONCLUDED'|L|uppercase" ></Label>
      </GridLayout>
   </GridLayout>
   
    <GridLayout [visibility]="selectedIndex === 0 ? 'visible' : 'collapsed'">
      <ns-castings-list [castingType]="'ongoing'" ></ns-castings-list>
    </GridLayout>
    <GridLayout rows="*" [visibility]="selectedIndex === 1 ? 'visible' : 'collapsed'">
      <ns-castings-list [castingType]="'attend'" > </ns-castings-list>
    </GridLayout>
    <GridLayout rows="*" [visibility]="selectedIndex === 2 ? 'visible' : 'collapsed'">
      <ns-castings-list [castingType]="'concluded'" > </ns-castings-list>
    </GridLayout>
    
</StackLayout>
