	<StackLayout>
		<CardView class="m-t-20" elevation="40" radius="20" ios:shadowRadius="15">
			<StackLayout class="list-group-item p-20"><!-- IMPORTANTE -->
					<Label class="row" textWrap="true" horizontalAlignment="left" verticalAlignment="center" >
						<FormattedString>
							<Span [text]="'USER.PHONE'|L" class="label"></Span>
							<Span fontSize="18" text=" "></Span>
							<Span [text]="profile.phone" class="value"></Span>
						</FormattedString>
					</Label>
					<Label class="row" textWrap="true" horizontalAlignment="left" verticalAlignment="center" >
						<FormattedString>
							<Span [text]="'USER.AGENCY'|L" class="label"></Span>
							<Span fontSize="18" text=" "></Span>
							<Span [text]="profile.agency" class="value"></Span>
						</FormattedString>
					</Label>
					<Label class="row" textWrap="true" horizontalAlignment="left" verticalAlignment="center" >
						<FormattedString>
							<Span text="WEBSITE" class="label"></Span>
							<Span fontSize="18" text=" "></Span>
							<Span [text]="profile.website" class="value"></Span>
						</FormattedString>
					</Label>
					<Label class="row" textWrap="true" horizontalAlignment="left" verticalAlignment="center" >
						<FormattedString>
							<Span text="Facebook profile" class="label"></Span>
							<Span fontSize="18" text=" "></Span>
							<Span [text]="profile.facebook" class="value"></Span>
						</FormattedString>
					</Label>
					<Label class="row" textWrap="true" horizontalAlignment="left" verticalAlignment="center" >
						<FormattedString>
							<Span text="Instagram profile" class="label"></Span>
							<Span fontSize="18" text=" "></Span>
							<Span [text]="profile.instagram" class="value"></Span>
						</FormattedString>
					</Label>
					<Label class="row" textWrap="true" horizontalAlignment="left" verticalAlignment="center" >
						<FormattedString>
							<Span text="Linkedin profile" class="label"></Span>
							<Span fontSize="18" text=" "></Span>
							<Span [text]="profile.linkedin" class="value"></Span>
						</FormattedString>
					</Label>
					<Label class="row" textWrap="true" horizontalAlignment="left" verticalAlignment="center" >
						<FormattedString>
							<Span [text]="'USER.ADDRESS'|L" class="label"></Span>
							<Span fontSize="18" text=" "></Span>
							<Span [text]="profile.address" class="value"></Span>
						</FormattedString>
					</Label>
					<Label class="row" textWrap="true" horizontalAlignment="left" verticalAlignment="center" >
						<FormattedString>
							<Span [text]="'USER.CITY'|L" class="label"></Span>
							<Span fontSize="18" text=" "></Span>
							<Span [text]="profile.city" class="value"></Span>
						</FormattedString>
					</Label>
					<Label class="row" textWrap="true" horizontalAlignment="left" verticalAlignment="center" >
						<FormattedString>
							<Span [text]="'USER.POSTAL_CODE'|L" class="label"></Span>
							<Span fontSize="18" text=" "></Span>
							<Span [text]="profile.city" class="value"></Span>
						</FormattedString>
					</Label>
					<Label class="row" textWrap="true" horizontalAlignment="left" verticalAlignment="center" >
						<FormattedString>
							<Span [text]="'USER.PROVINCE'|L" class="label"></Span>
							<Span fontSize="18" text=" "></Span>
							<Span [text]="profile.province" class="value"></Span>
						</FormattedString>
					</Label>
					<Label class="row last" textWrap="true" horizontalAlignment="left" verticalAlignment="center" >
						<FormattedString>
							<Span [text]="'USER.COUNTRY'|L" class="label"></Span>
							<Span fontSize="18" text=" "></Span>
							<Span [text]="profile.country" class="value"></Span>
						</FormattedString>
					</Label>
			</StackLayout><!-- IMPORTANTE -->
		</CardView>
	</StackLayout>
