@import '../../../app-variables';

GridLayout{
	padding-bottom: 16;	
	padding-top: 16;	
}

TextField{
	border-bottom-width: 1;
    border-bottom-color: $grigiochiaro;
    placeholder-color : $grigioscuro;
    } 

Label{
	margin-bottom: 16;
}
