<ActionBar class="action-bar">
            <!-- android icon > android.systemIcon="ic_menu_back" -->
            <NavigationButton text="" (tap)="goBack()" icon="res://arrow_left" class="action-back" row="0" col="0"></NavigationButton>
            <!-- <Label class="action-label text-left pull-left" [text]="casting.title"></Label> -->
        
            <!-- TITOLO > ANDROID -->
            <StackLayout ios:visibility="collapsed" orientation="horizontal" ios:horizontalAlignment="left" row="0" col="0" android:horizontalAlignment="left">
                    <Label class="action-label text-left pull-left" text="MODIFICA PASSWORD"></Label>
            </StackLayout>
            
            <!-- TITOLO > IOS (hack per allineare a sinistra il titolo) -->
            <ActionItem android:visibility="collapsed" text="" ios.position="left" android.position="left"row="0" col="0" backgroundColor="red">
                <Label class="action-label text-left pull-left" text="MODIFICA PASSWORD"></Label>
            </ActionItem>

</ActionBar>
<ScrollView class="password">
        <!-- <GridLayout rows="*,auto,auto" class="login login-sfondo">
                <GridLayout row=1 rows="auto,auto">
                  <CardView  row=0 class="card-group" elevation="40" radius="10" ios:shadowRadius="10" ios:shadowOpacity="0.2" ios:shadowColor="#000" ios:shadowOffsetHeight="10" >
                    <StackLayout class="list-group-item">
                      <BeezFloatLabelTextfield (textfieldEvent)="textfieldEvent($event,'mail')" [placeholder]="'EMAIL'|L" type="email" returnKeyType="next">
                      </BeezFloatLabelTextfield>
                      <BeezFloatLabelTextfield (textfieldEvent)="textfieldEvent($event,'pass')" [placeholder]="'PASSWORD'|L" secure="true" returnKeyType="done"></BeezFloatLabelTextfield>
                      <BeezButton [text]="'LOGIN'|L" [isBusy]="isLoading" (buttonClick)="login($event)"></BeezButton>
                    </StackLayout>
                  </CardView>

              </GridLayout> -->
        <StackLayout>
                <StackLayout class="input-field">
                        <TextField #firstTx hint="Password corrente" autocorrect="false" class="input" secure="true" returnKeyType="next"></TextField>
                    </StackLayout>
                    
                    <StackLayout class="input-field">
                        <TextField #secondTx hint="Nuova password" autocorrect="false"class="input" secure="true" returnKeyType="next"></TextField>
                    </StackLayout>
                
                    <StackLayout class="input-field">
                            <TextField #thirdTx hint="Conferma password" autocorrect="false" class="input" secure="true" returnKeyType="done"></TextField>
                        </StackLayout>
                    
                    <StackLayout class="list-group-item p-t-8">
                        <BeezButton text="save" [isBusy]="isLoading" buttonColor="#5A82FF" (buttonClick)="save(firstTx.text,secondTx.text,thirdTx.text)"></BeezButton>
                    </StackLayout>
        </StackLayout>
    </ScrollView>
    