@import '../../../app-variables';

.modal-select{
	background-image: url("res://expand");
	background-repeat: no-repeat;
	background-position: right center ;
	border-bottom-color: $grigiochiaro;
	border-bottom-width:1;
	margin-right: 20;
	margin-bottom: 20;
}

.accordion{
	background-color: $backgroung-light-gray;
	border-color: $grigiochiaro;
	border-bottom-width:1;
	border-top-width:1;
	.content{
		margin: -20;
		margin-top: -40;
		padding: 40;
		Button{
			text-align: center;
			margin: 10 0;
		}
	}
}