@import '../../../app-variables';

.accordion{
	border-color: $grigiochiaro;
	border-bottom-width:1;
	border-top-width:1;
	background-color: $grigiobackground;
	width: 100%;
	height: 100%;
	margin:16 0;
	.content{
		padding: 20 16 8 16;
		width: 100%;
	}
}

.declined{
	background-color: $nero;
}
.cornfirmed-archive{
	background-color: $lilla;
}
.cornfirmed{
		background-color: $verde;
}

.shooting{
	padding: 20 16;
}