@import '../../../app-variables';
.casting{
    .card-group-container{
        overflow: hidden;
        background-color: transparent;
        border-radius: 0;
        .card-group{
            overflow: hidden;
            background: white;
        }
    }
    .list-group-item-img-group{
        overflow: hidden;
        border-radius: 4;
    }
}
