/* Add mobile styles for the component here.  */

/*
// ---------------------------------
// StackLayout, GridLayout, CardView
// ---------------------------------
StackLayout {
}
GridLayout {
}
CardView {
  margin: 0 20 20 20;
}
.list-group-first {
  margin-top: 20;
}

// ---------------------------------
// CardView > list-group-item
// ---------------------------------
.list-group-item {
  background: white; // IMPORTANTE
  border-radius: 5;  // IMPORTANTE
  width:100%;
  .list-group-item-img {
    margin: 0 0 10 0;
    height: 160;            // IMPORTANTE
    border-radius: 5 5 0 0; // IMPORTANTE
  }
  .list-group-item-heading {
    font-size: 20;
    color: #000;
    margin: 0 15 10 15;
  }
  .list-group-item-text {
    font-size: 14;
    color: #000;
    margin: 0 15 15 15;
  }
  .list-group-item-date {
    font-size: 10;
    color: #000;
    margin: 3 15 15 15;
    text-align: right;
  }
  .list-group-item-h-line {
    height: 1;
    background-color: #DDD;
    margin: 0 15 15 15;
  }
  .list-group-item-v-line {
    width: 1;
    background-color: #DDD;
    margin: 0 15 15 15;
  }
  .list-group-item-icona-photo {
    margin: 0 15 15 15;
    width:16;
    height: 12;
    display: block;
    background-image: url("res://photo") no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .list-group-item-info {
    font-size: 10;
    color: #000;
    margin: 0 0 15 0; // IMPORTANTE
    text-align: left;
  }
  .list-group-item-freccia {
    margin: 0 15 15 15;
    width:20;
    height: 10;
    display: block;
    background-image: url("res://arrow_right") no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .list-group-item-button {
    margin: 0 15 15 15;
    width:20;
    height: 10;
    display: block;
    &--freccia {
      background-image: url("res://arrow_right") no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
  .my-button {
    font-size: 10;
    color: #000;
    margin: 0 15 15 15;
    width:20;
    height: 10;
    display: block;
    background-image: url("res://arrow_right") no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .my-button:active {
    color:white;
  }
  .my-button::pressed {
    color:white;
  }
  .my-button::highlighted{
    color:white;
  }
}
*/
