/* Add mobile styles for the component here.  */
// ---------------------------------
// StackLayout, GridLayout
// ---------------------------------
StackLayout {
  background: white; /* IMPORTANTE */
}
GridLayout {
  background: white; /* IMPORTANTE */
}

// ---------------------------------
// CardView > list-group-item
// ---------------------------------
.list-group-item {
  background: white; /* IMPORTANTE */
  border-radius: 5;   /* IMPORTANTE */
  .list-group-item-img {
    margin: 0 0 10 0;
    height: 160;            /* IMPORTANTE */
    border-radius: 5 5 0 0; /* IMPORTANTE */
  }
  .list-group-item-heading {
    font-size: 20;
    color: #000;
    margin: 0 15 10 15;
  }
  .list-group-item-text {
    font-size: 14;
    color: #000;
    margin: 0 15 15 15;
  }
  .list-group-item-date {
    font-size: 10;
    color: #000;
    margin: 3 15 15 15;
    text-align: right;
  }
  .list-group-item-h-line {
    height: 1;
    background-color: #DDD;
    margin: 0 15 15 15;
  }
  .list-group-item-v-line {
    width: 1;
    background-color: #DDD;
    margin: 0 15 15 15;
  }
  .list-group-item-icona-photo {
    font-size: 14;
    color: #000;
    margin: 0 15 15 15;
    width:16;
    height: 12;
    display: block;
    background-image: url("res://photo") no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .list-group-item-info {
    font-size: 10;
    color: #000;
    margin: 0 0 15 0; /* IMPORTANTE */
    text-transform: uppercase;
    text-align: left;
  }
  .list-group-item-freccia {
    font-size: 14;
    color: #000;
    margin: 0 15 15 15;
    width:20;
    height: 10;
    display: block;
    background-image: url("res://arrow_right") no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .list-group-item-button {

  }
  .my-button {
      background-color: red;
      border-radius: 5;
      color: white;
      font-family: FontAwesome;
      font-size: 24;
      vertical-align: middle;
      width: 80%;
  }
  .my-button:active {
      background-color: green;
      color:white;
  }
}

.card-info, .card-image {
  border-color: green;
  border-width: 1;
  border-radius: 10;
  margin: 20;
  .card-item-heading {
    font-size: 20;
    color: #000;
    margin: 0 15 10 15;
  }
  .card-item-text {
    font-size: 14;
    color: #000;
    margin: 0 15 15 15;
  }
}
