<TabView>
  <ScrollView ref="mainContainer" class="main-container" >
    <Label text="{{'LOGIN.REGISTRATION_TITLE'|L}}" fontWeight="bold"></Label>  
    <Label textWrap="true" text="'LOGIN.REGISTRATION_TEXT'|L"></Label> 

    <Label text="'USER.NAME'|L"></Label>
    <TextField
    returnKeyType="next"
    v-model="user.name"
    autocorrect="false"
    autocapitalizationType="true"></TextField>

    <Label text="'USER.SURNAME'|L"></Label> 
    <TextField
    returnKeyType="next"
    v-model="user.surname"
    autocorrect="false"
    autocapitalizationType="true"></TextField>

    <Label text="'USER.DATE_OF_BIRTH'|L"></Label> 
    <DatePicker v-model="selectedDate"></DatePicker>

    <Label text="'USER.EMAIL'|L"></Label> 
    <TextField
    hint="'USER.EMAIL'|L"
    keyboardType="email"
    returnKeyType="next"
    v-model="user.email"
    autocorrect="false"
    autocapitalizationType="none"></TextField>

    <Label text="'USER.PASSWORD'|L"></Label>
    <TextField ref="password"
    :hint="'USER.PASSWORD'|L"
    secure="true"
    returnKeyType="done"
    v-model="user.password"></TextField>

    <Button
    text="'LOGIN.REGISTRATION_SUBMIT'|L"
    class="submit-button"
    ></Button>

      <Label text="'LOGIN.REGISTRATION_MINOR_TITLE'|L" fontWeight="bold" ></Label>
      <Label textWrap="true" text="'LOGIN.REGISTRATION_MINOR_TEXT'|L"></Label>

      <Label text="'USER.NAME'|L"></Label>
      <TextField
      hint="'USER.NAME'|L"
      returnKeyType="next"
      v-model="user.name"
      autocorrect="false"
      autocapitalizationType="true"></TextField>

      <Label text="'USER.SURNAME'|L"></Label>
      <TextField
      hint="'USER.SURNAME'|L"
      returnKeyType="next"
      v-model="user.surname"
      autocorrect="false"
      autocapitalizationType="true"></TextField>

      <Label text="'USER.DATE_OF_BIRTH'|L"></Label>
      <DatePicker v-model="selectedDate" ></DatePicker>

      <Label text="'USER.EMAIL'|L"></Label>
      <TextField
      hint="'USER.EMAIL'|L"
      keyboardType="email"
      returnKeyType="next"
      v-model="user.email"
      autocorrect="false"
      autocapitalizationType="none"></TextField>

      <Label text="'USER.PASSWORD'|L"></Label>
      <TextField ref="password"
      hint="'USER.PASSWORD'|L"
      secure="true"
      returnKeyType="done"
      v-model="user.password"></TextField>

      <Label text="'USER.MINOR_NAME'|L"></Label>
      <TextField
      hint="'USER.MINOR_NAME'|L"
      returnKeyType="next"
      v-model="user.name"
      autocorrect="false"
      autocapitalizationType="true"></TextField>

      <Label text="'USER.MINOR_SURNAME'|L"></Label>
      <TextField
      hint="'USER.MINOR_SURNAME'|L"
      returnKeyType="next"
      v-model="user.surname"
      autocorrect="false"
      autocapitalizationType="true"></TextField>

      <Label text="'USER.MINOR_DATE_OF_BIRTH'|L"></Label>
      <DatePicker v-model="selectedDate"></DatePicker>
      <Button
      text="'LOGIN.MINOR_REGISTRATION_SUBMIT'|L"
      class="submit-button"
      ></Button>

    </ScrollView>
  </TabView>