@import '../../../app-variables';

GridLayout{
	padding-top: 8;
	padding-bottom: 16;
 }

TextField{
	height: 100%;
	padding: 8 0;
	border-bottom-width: 1;
    border-bottom-color: $grigiochiaro;
    placeholder-color : $grigioscuro;
    } 

Label{
	transform: translate(0, -25);
	padding: 16 0 16 0;
}

