<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638348566092-s1ib98mtt0rdv6h4mhbdkm62rdvl09cj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638348566092-s1ib98mtt0rdv6h4mhbdkm62rdvl09cj</string>
	<key>API_KEY</key>
	<string>AIzaSyD98DJutG0U-bMCaHWI1BhhA9ovsMZ9a9I</string>
	<key>GCM_SENDER_ID</key>
	<string>638348566092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.beez.castinghub</string>
	<key>PROJECT_ID</key>
	<string>beez-78221</string>
	<key>STORAGE_BUCKET</key>
	<string>beez-78221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638348566092:ios:88a54f813151dbc4c81ee9</string>
	<key>DATABASE_URL</key>
	<string>https://beez-78221.firebaseio.com</string>
</dict>
</plist>