@import '../../../app-variables';

GridLayout{
	padding-top: 8;
	padding-bottom: 16;	
	background-image: url("res://expand");
	background-repeat: no-repeat;
	background-position: right center ;
}

#text{
	padding: 8 0;
	border-bottom-width: 1;
	border-bottom-color: $lilla;
} 

#placeholder{
	color: $grigioscuro;
	border-bottom-width: 1;
	border-bottom-color: $grigiochiaro;
	padding: 8 0;
}

#label{
	transform: translate(0, -25);
	padding: 8 0 16 0;
}