<ActionBar class="action-bar">
	<Label class="action-bar-title" [text]="'SIGNUP.REGISTRATION'|L" ></Label>
	<NavigationButton android.systemIcon="ic_menu_back" text="Back to" (tap)="goBack()"></NavigationButton>
</ActionBar>

<TabView class="signup" androidTabsPosition="top">

	<StackLayout *tabItem="{title: signupTitle}">
		<ScrollView>
			<StackLayout>
				<CardView class="card-group" elevation="40" radius="10" ios:shadowRadius="15">
					<StackLayout class="list-group-item p-20">

						<Label class="list-group-item-heading-signup" [text]="'SIGNUP.REGISTRATION_TITLE'|L" fontWeight="bold" ></Label>
						<Label class="list-group-item-info-signup" textWrap="true" [text]="'SIGNUP.REGISTRATION_TEXT'|L"></Label>

						<Label class="list-group-item-label-signup" [text]="'USER.NAME'|L"></Label>
						<TextField class="list-group-item-text-signup"
						[hint]="'USER.NAME'|L"
						returnKeyType="next"
						autocorrect="false"></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.SURNAME'|L"></Label>
						<TextField class="list-group-item-text-signup"
						[hint]="'USER.SURNAME'|L"
						returnKeyType="next"
						autocorrect="false"></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.DATE_OF_BIRTH'|L"></Label>
						<DatePicker  ></DatePicker>

						<Label class="list-group-item-label-signup" [text]="'USER.EMAIL'|L"></Label>
						<TextField class="list-group-item-text-signup"
						[hint]="'USER.EMAIL'|L"
						keyboardType="email"
						returnKeyType="next"
						autocorrect="false"></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.PASSWORD'|L"></Label>
						<TextField class="list-group-item-text-signup" ref="password"
						[hint]="'USER.PASSWORD'|L"
						secure="true"
						returnKeyType="done"></TextField>

						<CardView row="5" class="card-button" elevation="7" radius="15" shadowOpacity="0.2" ripple="true" ios:shadowRadius="5">
								<Button class="card-button-button"
								[text]="'SIGNUP.REGISTRATION_SUBMIT'|L"
								([nsRouterLink]="['/user/login']"></Button>
						</CardView>

					</StackLayout>
				</CardView>
			</StackLayout>
		</ScrollView>
	</StackLayout>
	<StackLayout *tabItem="{title: signupMinorTitle}">
		<ScrollView>
			<StackLayout>
				<CardView class="card-group" elevation="40" radius="10" ios:shadowRadius="15">
					<StackLayout class="list-group-item p-20">

						<Label class="list-group-item-heading-signup" [text]="'SIGNUP.REGISTRATION_TITLE'|L" fontWeight="bold" ></Label>
						<Label class="list-group-item-info-signup" textWrap="true" [text]="'SIGNUP.REGISTRATION_TEXT'|L"></Label>

						<Label class="list-group-item-label-signup" [text]="'USER.NAME'|L"></Label>
						<TextField class="list-group-item-text-signup"
						[hint]="'USER.NAME'|L"
						returnKeyType="next"
						autocorrect="false"></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.SURNAME'|L"></Label>
						<TextField class="list-group-item-text-signup"
						[hint]="'USER.SURNAME'|L"
						returnKeyType="next"
						autocorrect="false"></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.DATE_OF_BIRTH'|L"></Label>
						<DatePicker  ></DatePicker>

						<Label class="list-group-item-label-signup" [text]="'USER.EMAIL'|L"></Label>
						<TextField class="list-group-item-text-signup"
						[hint]="'USER.EMAIL'|L"
						keyboardType="email"
						returnKeyType="next"
						autocorrect="false"></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.PASSWORD'|L"></Label>
						<TextField class="list-group-item-text-signup" ref="password"
						[hint]="'USER.PASSWORD'|L"
						secure="true"
						returnKeyType="done"></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.MINOR_NAME'|L"></Label>
						<TextField class="list-group-item-text-signup" ref="password"
						[hint]="'USER.MINOR_NAME'|L"
						secure="true"
						returnKeyType="done"></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.MINOR_SURNAME'|L"></Label>
						<TextField class="list-group-item-text-signup" ref="password"
						[hint]="'USER.MINOR_SURNAME'|L"
						secure="true"
						returnKeyType="done"></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.MINOR_DATE_OF_BIRTH'|L"></Label>
						<TextField class="list-group-item-text-signup" ref="password"
						[hint]="'USER.MINOR_SURNAME'|L"
						secure="true"
						returnKeyType="done"></TextField>

						<DatePicker></DatePicker>

						<CardView row="5" class="card-button" elevation="7" radius="15" shadowOpacity="0.2" ripple="true" ios:shadowRadius="5">
								<Button class="card-button-button"
								[text]="'SIGNUP.MINOR_REGISTRATION_SUBMIT'|L"
								([nsRouterLink]="['/user/login']"></Button>
						</CardView>

					</StackLayout>
				</CardView>
			</StackLayout>
		</ScrollView>
	</StackLayout>
</TabView>
