<ActionBar class="action-bar">
	<Label class="action-bar-title" [text]="'SIGNUP.REGISTRATION'|L" ></Label>
	<NavigationButton android.systemIcon="ic_menu_back" text="Back to" (tap)="goBack()"></NavigationButton>
</ActionBar>

<TabView class="signup" androidTabsPosition="top">
	<StackLayout *tabItem="{title: signupTitle}">
		<ScrollView>
			<StackLayout>
				<CardView class="card-group" elevation="40" radius="10" ios:shadowRadius="15">
					<StackLayout class="list-group-item p-20">
						<Label class="list-group-item-heading-18" textWrap="true" [text]="'SIGNUP.REGISTRATION_TITLE'|L" fontWeight="bold" ></Label>
						<Label class="list-group-item-info-signup" textWrap="true" [text]="'SIGNUP.REGISTRATION_TEXT'|L"></Label>

						<Label class="list-group-item-label-signup" [text]="'USER.NAME'|L"></Label>
						<TextField class="list-group-item-text-signup"
						[hint]="'USER.NAME'|L"
						[(ngModel)]="profile.name"
		                returnKeyType="next"
		                autocorrect="false"
              			autocapitalizationType="words"
						returnKeyType="next"
						></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.SURNAME'|L"></Label>
						<TextField class="list-group-item-text-signup"
						[hint]="'USER.SURNAME'|L"
						[(ngModel)]="profile.surname"
		                returnKeyType="next"
		                autocorrect="false"
              			autocapitalizationType="words"
						returnKeyType="next"
						></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.DATE_OF_BIRTH'|L"></Label>
						<DatePicker [(ngModel)]="profile.date_of_birth"></DatePicker>

						<Label class="list-group-item-label-signup" [text]="'USER.EMAIL'|L"></Label>
						<TextField class="list-group-item-text-signup"
						[hint]="'USER.EMAIL'|L"
						[(ngModel)]="user.mail"
						keyboardType="email"
						returnKeyType="next"
						autocorrect="false"
						></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.PASSWORD'|L"></Label>
						<TextField class="list-group-item-text-signup" ref="password"
						[hint]="'USER.PASSWORD'|L"
						[(ngModel)]="user.pass"
						secure="true"
						returnKeyType="done"
						></TextField>

						<CardView row="5" class="card-button" elevation="7" radius="15" shadowOpacity="0.2" ripple="true" ios:shadowRadius="5">

							<Button class="card-button-link"
								[text]="'SIGNUP.REGISTRATION_SUBMIT'|L"
								(tap)="signup()"
								></Button> 
						</CardView>
					</StackLayout>
				</CardView>
			</StackLayout><!-- non serve -->
		</ScrollView>
	</StackLayout>
	<StackLayout *tabItem="{title: signupMinorTitle}">
		<ScrollView>
			<StackLayout>
				<CardView class="card-group" elevation="40" radius="10" ios:shadowRadius="15">
					<StackLayout class="list-group-item p-20">

						<Label class="list-group-item-heading-18" textWrap="true" [text]="'SIGNUP.REGISTRATION_MINOR_TITLE'|L" fontWeight="bold" ></Label>
						<Label class="list-group-item-info-signup" textWrap="true" [text]="'SIGNUP.REGISTRATION_MINOR_TEXT'|L"></Label>

						<Label class="list-group-item-label-signup" [text]="'USER.NAME'|L"></Label>
						<TextField class="list-group-item-text-signup"
						[hint]="'USER.NAME'|L"
						[(ngModel)]="profile.tutor_name"
		                returnKeyType="next"
		                autocorrect="false"
              			autocapitalizationType="words"
						returnKeyType="next"
						></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.SURNAME'|L"></Label>
						<TextField class="list-group-item-text-signup"
						[hint]="'USER.SURNAME'|L"
						[(ngModel)]="profile.tutor_surname"
		                returnKeyType="next"
		                autocorrect="false"
              			autocapitalizationType="words"
						returnKeyType="next"
						></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.DATE_OF_BIRTH'|L"></Label>
						<DatePicker [(ngModel)]="profile.tutor_date_of_birth" ></DatePicker>

						<Label class="list-group-item-label-signup" [text]="'USER.EMAIL'|L"></Label>
						<TextField class="list-group-item-text-signup"
						[hint]="'USER.EMAIL'|L"
						[(ngModel)]="user.mail"
						keyboardType="email"
						returnKeyType="next"
						autocorrect="false"
						></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.PASSWORD'|L"></Label>
						<TextField class="list-group-item-text-signup" ref="password"
						[hint]="'USER.PASSWORD'|L"
						[(ngModel)]="user.pass"
						secure="true"
						returnKeyType="done"
						></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.MINOR_NAME'|L"></Label>
						<TextField class="list-group-item-text-signup" ref="password"
						[hint]="'USER.MINOR_NAME'|L"
						[(ngModel)]="profile.name"
		                returnKeyType="next"
		                autocorrect="false"
              			autocapitalizationType="words"
              			></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.MINOR_SURNAME'|L"></Label>
						<TextField class="list-group-item-text-signup" ref="password"
						[hint]="'USER.MINOR_SURNAME'|L"
						[(ngModel)]="profile.surname"
		                returnKeyType="next"
		                autocorrect="false"
              			autocapitalizationType="words"
						returnKeyType="next"
						></TextField>

						<Label class="list-group-item-label-signup" [text]="'USER.MINOR_DATE_OF_BIRTH'|L"></Label>
						<TextField class="list-group-item-text-signup"
						ref="password"
						[hint]="'USER.MINOR_SURNAME'|L"
						secure="true"
						returnKeyType="done"
						></TextField>

						<DatePicker [(ngModel)]="profile.date_of_birth"></DatePicker>

						<CardView row="5" class="card-button" elevation="7" radius="15" shadowOpacity="0.2" ripple="true" ios:shadowRadius="5">
								<Button class="card-button-link"
								[text]="'SIGNUP.MINOR_REGISTRATION_SUBMIT'|L"
								(tap)="signup()"></Button>
						</CardView>

					</StackLayout>
				</CardView>
				<ActivityIndicator
				[busy]="isAuthenticating"
				rowSpan="2"></ActivityIndicator>
			</StackLayout>
		</ScrollView>
	</StackLayout>
</TabView>
