@import '../../app-variables';

#container{
			background-color: white;
}

.text-wrapper{
	background-color: transparent;
  vertical-align: bottom;
  margin-bottom: $font-size + $font-size-title;
  margin-left: $font-size + $font-size-title + 2;
	.name{
		color: white;
		font-size: $font-size-title;
		font-weight: bold;
	}
	.role{
		color: $lilla;
	}
}

ActionItem {
	background-color: green;
}

.action-items{
		padding: 0 9 0 9;
		background-color: transparent;
}
/*
ActionItem {
	background-color: yellow;
}
.action-items{
		// padding: 0 9 0 9;
		margin: 0 15 0 15;
		&-last {
			padding: 0 9 0 9;
		}
}
*/

.credits-value{
	margin-bottom: 3;
	font-size: 12;
	font-weight: bold;
	padding-bottom: 9;
	color: $verde;
	text-align: center;
	background-image: url("res://credits");
	background-repeat: no-repeat;
	background-position: center bottom;
}
