<ActionBar class="action-bar" [title]="'PROFILE.PROFILE'|L">
  <!-- <Label class="action-bar-title" [text]="'CASTINGS.CASTINGS'|L" ></Label> -->
  <!-- TITOLO > ANDROID -->
  <StackLayout ios:visibility="collapsed" orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
    <Image src="res://mark" class="action-image text-left pull-left m-r-10"></Image>
    <Label [text]="'PROFILE.PROFILE'|L|titlecase"  class="action-label text-left pull-left"></Label>
  </StackLayout>
  <!-- TITOLO > IOS (hack per allineare a sinistra il titolo) -->
  <ActionItem android:visibility="collapsed" ios.position="left" android.position="left">
    <StackLayout>
      <Image src="res://mark" stretch="none"></Image>
    </StackLayout>
  </ActionItem>
  <ActionItem android:visibility="collapsed" text="" ios.position="left" android.position="left">
    <Label class="action-bar-title text-left pull-left" [text]="'PROFILE.PROFILE'|L|titlecase"></Label>
  </ActionItem>

  <ActionItem class="" ios.position="right" android.position="right">
    <Label  class="action-items credits-value" text="10"></Label>
  </ActionItem>
  <ActionItem class="" ios.position="right" android.position="right">
    <Image class="action-items " (tap)="edit(profile)" src="res://edit" stretch="none"></Image>
  </ActionItem>
  <ActionItem class="" ios.position="right" android.position="right" [nsRouterLink]="['../settings']">
    <Image class="action-items " src="res://settings" stretch="none"></Image>
  </ActionItem>

</ActionBar>

<ScrollView class="profile" #scrollView (scroll)="onScroll($event, scrollView, topView)" (swipe)="onSwipe($event)">

    <StackLayout id="container" #container>

      <GridLayout #polaroid>
        <Image [src]="profile.polaroid"></Image>
        <Image src="~/assets/images/rect.png"></Image>
        <StackLayout class="text-wrapper">
          <Label class="name" [text]="profile.name"></Label>
          <Label class="role" [text]='profile.website | uppercase'></Label>
        </StackLayout>
      </GridLayout>

      <GridLayout columns="*,*,*,*" rows="auto" class="tab-buttons" #profileTab >
        <GridLayout #tabHighlight col="0" class="tabActiveIndex"></GridLayout>
        <GridLayout col="0" (tap)="onSelectedIndexChange(0)">
          <Label #tab1 col="0" [text]="'PROFILE.INFO'|L|uppercase"></Label>
          <!-- <Label #tab1 col="0" [text]="'PROFILE.INFO'|L|uppercase" [class.active]="selectedIndex === 0" ></Label> -->
        </GridLayout>
        <GridLayout col="1" (tap)="onSelectedIndexChange(1)">
          <Label #tab2 col="1" [text]="'PROFILE.DETAILS'|L|uppercase" ></Label>
        </GridLayout>
        <GridLayout col="2" (tap)="onSelectedIndexChange(2)">
          <Label #tab3 col="2" [text]="'PROFILE.MEDIA'|L|uppercase" ></Label>
        </GridLayout>
        <GridLayout col="3" (tap)="onSelectedIndexChange(3)">
          <Label #tab4 col="3" [text]="'PROFILE.CONTACTS'|L|uppercase" ></Label>
        </GridLayout>
      </GridLayout>

      <GridLayout class="tab-content" rows="auto" [visibility]="selectedIndex === 0 ? 'visible' : 'collapsed'">
        <ns-info
        [_profile]="profile"
        (loading)="showActivityIndicator()"
        (loaded)="hideActivityIndicator()"></ns-info>
      </GridLayout>

      <GridLayout class="tab-content" rows="auto" [visibility]="selectedIndex === 1 ? 'visible' : 'collapsed'">
        <ns-details
        [profile]="profile"
        (loading)="showActivityIndicator()"
        (loaded)="hideActivityIndicator()"></ns-details>
      </GridLayout>

      <GridLayout class="tab-content" rows="auto" [visibility]="selectedIndex === 2 ? 'visible' : 'collapsed'">
        <ns-media
        [profile]="profile"
        (loading)="showActivityIndicator()"
        (loaded)="hideActivityIndicator()"></ns-media>
      </GridLayout>

      <GridLayout class="tab-content" rows="auto" [visibility]="selectedIndex === 3 ? 'visible' : 'collapsed'">
        <ns-contacts
        [profile]="profile"
        (loading)="showActivityIndicator()"
        (loaded)="hideActivityIndicator()"></ns-contacts>
      </GridLayout>

    </StackLayout>

</ScrollView>
