@import '../../app-variables';

#container{
			background-color: white;
}

.text-wrapper{
	background-color: transparent;
  vertical-align: bottom;
  margin-bottom: $font-size + $font-size-title;
  margin-left: $font-size + $font-size-title + 2;
	.name{
		color: white;
		font-size: $font-size-title;
		font-weight: bold;
	}
	.role{
		color: $lilla;
	}
}

.action-items{
		padding: 0 9 0 9;
		background-color: transparent;
}

.credits-value{
	margin-bottom: 3;
	font-size: 12;
	font-weight: bold;
	padding-bottom: 9;
	color: $verde;
	text-align: center;
	background-image: url("res://credits");
	background-repeat: no-repeat;
	background-position: center bottom;
}