<ScrollView>
  <DockLayout  stretchLastChild="false">
    <StackLayout dock="top">
      <Image class="p-15" src="~/assets/images/logo_login.png" height="200"></Image>
      <StackLayout>
        <CardView elevation="40" radius="10" ios:shadowRadius="15" [class.list-group-first]="index===0">
          <GridLayout rows="*,*,*,*,*,*">
            <Label row="0" [text]="'EMAIL'|L"></Label>
            <TextField
            [hint]="'MAIL'|L"
            keyboardType="email"
            returnKeyType="next"
            autocorrect="false"
            autocapitalizationType="none"
            row="1"></TextField>

            <Label row="2" [text]="'PASSWORD'|L"></Label>
            <TextField 
            [hint]="'PASSWORD'|L"
            secure="true"
            returnKeyType="done"
            row="3"></TextField>

            <ActivityIndicator
            [busy]="isAuthenticating"
            row="4"></ActivityIndicator>

            <Button
            [text]="'LOGIN'|L"
            row="5"
            [nsRouterLink] = "['/home']"
            class="submit-button"></Button>
          </GridLayout>
        </CardView>
      </StackLayout>
      <GridLayout dock="bottom" height="60" columns="*,*">
        <Label
        [nsRouterLink] = "['/user/signup']"
        col="0"
        horizontalAlignment="left"
        [text]="'SIGNUP'|L"></Label>

        <Label
        horizontalAlignment="right" 
        col="1"
        class="help-label"
        [text]="'HELP'|L"></Label>

      </GridLayout>
    </StackLayout>
  </DockLayout>
</ScrollView>