<GridLayout rows="*,auto,auto" class="login login-sfondo">
  <StackLayout row=0 verticalAlignment="center" height="100%" dock="top">
    <LottieView height="280" src="data.json" autoplay="true"  (loaded)="lottieViewLoaded($event)"></LottieView>
  </StackLayout>
  <GridLayout row=1 rows="auto,auto">
    <CardView  row=0 class="card-group" elevation="30" radius="10" ios:shadowRadius="10" ios:shadowOpacity="0.2" ios:shadowColor="#000" ios:shadowOffsetHeight="10" >
      <StackLayout class="list-group-item" (loaded)="onLoadedStack($event)" (unloaded)="onUnloadedStack($event)">
        <BeezFloatLabelTextfield (textfieldEvent)="textfieldEvent($event,'mail')" [placeholder]="'EMAIL'|L" type="email" returnKeyType="next"></BeezFloatLabelTextfield>
        <BeezFloatLabelTextfield (textfieldEvent)="textfieldEvent($event,'pass')" [placeholder]="'PASSWORD'|L" secure="true" returnKeyType="done"></BeezFloatLabelTextfield>
        <BeezButton [text]="'LOGIN'|L" [isBusy]="isLoading" (buttonClick)="login($event)"></BeezButton>
      </StackLayout>
    </CardView>
    <GridLayout row="1" class="login-footer"  >
      <Label class="title title-small login-footer-register" col="0" horizontalAlignment="left" (tap)="goToSignup()" [text]="'SIGNUP.SIGNUP'|L"></Label>
      <!-- <Label class="title title-small login-footer-help" col="1" horizontalAlignment="right" (tap)="openLink('https://beez.io')" [text]="'HELP'|L"></Label> -->
      <Label class="title title-small login-footer-help" col="1" horizontalAlignment="right" (tap)="goToRecovery()" [text]="'HELP'|L"></Label>
    </GridLayout>
  </GridLayout>
</GridLayout>