@import '../../../app-variables';

.form-container{
	margin: 25;
}

.label-textfield {
  color:$grigioscuro;
  opacity: 0;
  transform:translate(0,20);
}

#labelpass{
	margin-top: 10;
}

TextField{
	color:$grigioscuro;
	border-bottom-width: 1;
	border-color:$grigiochiaro;
  .input-field-error{
  		border-color: rgba(253, 60, 67, .8);;
  }
}
