<ScrollView>
  <DockLayout  stretchLastChild="false">
    <StackLayout dock="top">
        <LottieView height="400" [src]="src" [autoPlay]="autoPlay" (loaded)="lottieViewLoaded($event)"></LottieView>
      <StackLayout>
        <CardView elevation="40" radius="10" ios:shadowRadius="15">
          <GridLayout rows="*,*,*,*,*,*" >
            <Label row="0" [text]="'EMAIL'|L"></Label>
            <TextField
            [hint]="'MAIL'|L"
            keyboardType="email"
            returnKeyType="next"
            autocorrect="false"
            autocapitalizationType="none"
            row="1"></TextField>

            <Label row="2" [text]="'PASSWORD'|L"></Label>
            <TextField 
            [hint]="'PASSWORD'|L"
            secure="true"
            returnKeyType="done"
            row="3"></TextField>

            <ActivityIndicator
            [busy]="isAuthenticating"
            row="4"></ActivityIndicator>
      <StackLayout>
          

        <CardView elevation="200" radius="10" ios:shadowRadius="15">
            <Button
            [text]="'LOGIN'|L"
            [nsRouterLink] = "['/home']"></Button>
</CardView>
      </StackLayout>

          </GridLayout>
        </CardView>
      </StackLayout>
      <GridLayout dock="bottom" height="60" columns="*,*">
        <Label
        [nsRouterLink] = "['/user/signup']"
        col="0"
        horizontalAlignment="left"
        [text]="'SIGNUP'|L"></Label>

        <Label
        horizontalAlignment="right" 
        col="1"
        class="help-label"
        [text]="'HELP'|L"></Label>

      </GridLayout>
    </StackLayout>
  </DockLayout>
</ScrollView>