// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.ios';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on iOS here

* {
  font-family: "Sofia Pro"; // IMPORTANTE
}

// ------------------------------------------------------------------
// SWITCH
// ------------------------------------------------------------------
.list-group-item-switch {
  margin: 0 20 10 0; // RICALCOLARE ?
}
// .list-group-item-switch[checked=false] {
//   color: #1e1e1e;
//   background-color: #1e1e1e;
// }
.list-group-item-switch[checked=true] {
  background-color: #00D796;
}

// fonts
.tab-buttons, .tab-buttons-d3d0 {
  label {
    font-size:11;
    letter-spacing: 0.15;
  }
}

// generico
.list-group-item {
  &-info {
    margin: 0 0 13 5;
  }
  &-icona{ // item > icone generiche
    &-casting {
      margin: 0 0 15 15;
    }
  }
}

// profile
.profile-info {
  .list-group-item {
		.row {
      padding: 16 0 15 0;
			.label{
				font-size: 13;
			}
			.value{
				font-size: 15;
			}
		}
  }
}
