// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on Android here

* {
  font-family: "Sofia Pro Light", "Sofia Pro Semi Bold"; // IMPORTANTE
}

SegmentedBar{
  // android > background
  background-color: white; /* OK */

  // android > border bottom della selezionata
  // ios > background della selezionata + bordi
  selected-background-color: #00D796; /* OK */
}

NSSegmentView{
  // sfondo selezionata ios
  // selected-background-color:white;

  // sfondo totale ios + border bottom android
  // seg-background-color:#00D796;

  // border bottom ios
  // line-color:#00D796;

  // testo normale
  title-color:$grigioscuro;

  // testo selezionato
  selected-color:#00D796;

  // indicatore tab selezionata
  indicator-color: #00D796;
}

// switch
.list-group-item-switch {
  margin: 3 10 0 0; // RICALCOLARE ?
}
.list-group-item-switch[checked=false] {
  color: #1e1e1e;
  background-color: #1e1e1e;
}
.list-group-item-switch[checked=true] {
  color: #00D796;
  background-color: #00D796;
}

// fonts
.tab-buttons, .tab-buttons-d3d0 {
  label {
    font-size:10;
    letter-spacing: 0.15;
  }
}

// generico
.list-group-item {
  &-info {
    margin: 0 0 15 5;
  }
  &-icona{ // item > icone generiche
    &-casting {
      margin: 1 0 15 15;
    }
  }
}

// profile
.profile-info {
  .list-group-item {
		.row {
      padding: 8 0 15 0;
			.label{
				font-size: 12;
        line-height: 1;
			}
			.value{
				font-size: 14;
        line-height: 1;
			}
		}
  }
}
