// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on Android here

* {
  font-family: "Sofia Pro Light", "Sofia Pro Semi Bold"; // IMPORTANTE
}

SegmentedBar{
  // android > background
  background-color: white; /* OK */

  // android > border bottom della selezionata
  // ios > background della selezionata + bordi
  selected-background-color: #00D796; /* OK */
}

NSSegmentView{
  // sfondo selezionata ios
  // selected-background-color:white;

  // sfondo totale ios + border bottom android
  // seg-background-color:#00D796;

  // border bottom ios
  // line-color:#00D796;

  // testo normale
  title-color:$grigioscuro;

  // testo selezionato
  selected-color:#00D796;

  // indicatore tab selezionata
  indicator-color: #00D796;
}

// switch
.list-group-item-switch {
  margin: 3 10 0 0; // RICALCOLARE ?
}
.list-group-item-switch[checked=false] {
  color: #1e1e1e;
  background-color: #1e1e1e;
}
.list-group-item-switch[checked=true] {
  color: #00D796;
  background-color: #00D796;
}
