// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.ios';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on iOS here

* {
  font-family: "Sofia Pro"; // IMPORTANTE
}

SegmentedBar{
  // android > background
  background-color: white; /* OK */

  // android > border bottom della selezionata
  // ios > background della selezionata + bordi
  selected-background-color: transparent; /* OK */
}

NSSegmentView{
  // sfondo selezionata ios
  // selected-background-color:white;

  // sfondo totale ios + border bottom android
  // seg-background-color:#00D796;

  // border bottom ios
  // line-color:#00D796;

  // testo normale
  title-color:$grigioscuro;

  // testo selezionato
  selected-color:#00D796;

  // indicatore tab selezionata
  indicator-color: #00D796;
}
