@import '../../app-variables';

TabStripItem.tabstripitem {
    //background-color:$lilla;
}

TabStripItem.tabstripitem:active {
    // border-bottom-width:1;
    // border-bottom-color:$verde;
} 

#homeTabs{
height: 50;
}

.fas {
    color: red;
    font-size: 16;
    font-weight: 900;
    background-color: yellow;
}

.container {
    background-color: white;
    border-top-width: 1;
    border-top-color: $grigiochiaro;
    opacity: 0.95;
}

.badge {
    width:16;
    height:16;
    color:white;
    background-color:#5A82FF;
    border-radius:100;
    padding-bottom:2;
    font-size: 11;
    text-align: center;
    font-weight: bold;
    vertical-align: center;
    android-elevation:5;
}