<GridLayout rows="*, 50">

        <BottomNavigation row="0" #tabs selectedIndex="0" (loaded)="onLoadedNav($event)" (selectedIndexChanged)="onSelectedIndexChanged($event)">
            <TabContentItem>
                <GridLayout>
                    <page-router-outlet name="castingsTab"></page-router-outlet>
                </GridLayout>
            </TabContentItem>
            <TabContentItem>
                <GridLayout>
                    <page-router-outlet name="notificationsTab"></page-router-outlet>
                </GridLayout>
            </TabContentItem>
            <TabContentItem>
                <GridLayout>
                    <page-router-outlet name="profileTab"></page-router-outlet>
                </GridLayout>
            </TabContentItem>
        </BottomNavigation>

        <GridLayout row="1" height="50" verticalAlignment="bottom" columns="*, *, *" >
            <AbsoluteLayout col="0" colSpan="5" verticalAlignment="bottom">
                <GridLayout class="container" backgroundColor="white" #tabBGContainer height="50" columns="auto">
                </GridLayout>
            </AbsoluteLayout>
            <GridLayout #tabContents *ngFor="let item of tabList; let i = index" backgroundColor="" height="50"
                [col]="i"  marginTop="5" (tap)="onBottomNavTap(i)" verticalAlignment="middle" borderTopWidth="0" borderTopColor="red"
                [marginLeft]="item.paddingLeft" [marginRight]="item.paddingRight">
                <AbsoluteLayout width="50" height="50" backgroundColor="" >
                        <Image left="10" top="10" [src]="item.icon" stretch="none" verticalAlignment="middle" horizontalAlignment="center"></Image>
                        <Label left="25" top="5"  *ngIf="i == 1" [visibility]="contatore == '0' ? 'collapsed' : 'visible'" android:borderRadius="100" android:backgroundColor="#5A82FF" (loaded)="badgeLoaded($event)" [text]="contatore" class="badge"></Label>
                </AbsoluteLayout>
            </GridLayout>
        </GridLayout>
    
</GridLayout>

<!-- <BottomNavigation selectedIndex="1">
    <TabStrip>
        <TabStripItem>
            <Label text="Home"></Label>
            <Image src="font://&#xf015;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="Account"></Label>
            <Image src="font://&#xf007;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="Search"></Label>
            <Image src="font://&#xf00e;" class="fas t-36"></Image>
        </TabStripItem>
    </TabStrip>
    <TabContentItem>
        <GridLayout>
            <page-router-outlet name="castingsTab"></page-router-outlet>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <page-router-outlet name="notificationsTab"></page-router-outlet>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <page-router-outlet name="profileTab"></page-router-outlet>
        </GridLayout>
    </TabContentItem>
</BottomNavigation> -->
