	<StackLayout class="profile-info">
		<CardView class="card-group" elevation="30" radius="10" ios:shadowRadius="10" shadowOpacity="0.2" shadowColor="#000" shadowOffsetHeight="10" >
			<StackLayout class="list-group-item list-group-item-grid " >

				<StackLayout orientation="horizontal" class="row">
					<Label textWrap="true" [text]="'USER.NAME'|L" class="label" ></Label>
					<BeezFloatLabelTextfield  [text]="profile.name"  (textfieldEvent)="textfieldEvent($event,'name')" [placeholder]="'USER.NAME'|L"></BeezFloatLabelTextfield>
				</StackLayout> 


				<StackLayout orientation="horizontal" class="row">
					<Label textWrap="true" [text]="'USER.SURNAME'|L" class="label" ></Label>
					<BeezFloatLabelTextfield  [text]="profile.surname"  (textfieldEvent)="textfieldEvent($event,'name')" [placeholder]="'USER.NAME'|L"></BeezFloatLabelTextfield>
				</StackLayout> 

				<StackLayout orientation="horizontal" class="row">
					<Label textWrap="true" [text]="'USER.GENDER'|L" class="label" ></Label>
					<BeezFloatLabelSelect  [text]="profile.gender" (selectEvent)="selectEvent($event,'GENDER')" type="GENDERS" [placeholder]="'USER.GENDER'|L"></BeezFloatLabelSelect>
				</StackLayout> 

				<StackLayout orientation="horizontal" class="row">
					<Label textWrap="true" [text]="'USER.DATE_OF_BIRTH'|L" class="label" ></Label>
					<BeezFloatLabelSelect  [text]="profile.date_of_birth" (selectEvent)="selectEvent($event,'date_of_birth')" type="datapicker" [placeholder]="'USER.DATE_OF_BIRTH'|L"></BeezFloatLabelSelect>
				</StackLayout> 

				<StackLayout orientation="horizontal" class="row">
					<Label textWrap="true" [text]="'USER.PLACE_OF_BIRTH'|L" class="label" ></Label>
					<BeezFloatLabelTextfield  [text]="profile.place_of_birth"  (textfieldEvent)="textfieldEvent($event,'place_of_birth')" [placeholder]="'USER.PLACE_OF_BIRTH'|L"></BeezFloatLabelTextfield>
				</StackLayout> 

				<StackLayout orientation="horizontal" class="row">
					<Label textWrap="true" [text]="'USER.NATIONALITY'|L" class="label" ></Label>
					<BeezFloatLabelSelect  [text]="profile.gender" (selectEvent)="selectEvent($event,'NATIONALITY')" type="NATIONALITY" [placeholder]="'USER.NATIONALITY'|L"></BeezFloatLabelSelect>
				</StackLayout> 

			</StackLayout>
		</CardView>
	</StackLayout>
