@import '../../../app-variables';

.profile-info {
	background-color: $grigiobackground;
	.list-group-item {
		padding: 8 0 8 0;
		// background-color: green;
		&-grid{
		}
		.row{
			border-bottom-width: 1;
			border-bottom-color: $grigiochiaro;
			// background-color: green;
			.label{
				font-family: "Sofia Pro Light";
				font-weight: normal;
				color: $grigioscuro;
			  	letter-spacing:0.028;	
				padding-right: 8;
				// background-color: green;
			}
		}
		.row.last{
			border-bottom-width: 0;
		}
	}
}
