	<StackLayout class="profile-info">
		<CardView class="card-group" elevation="30" radius="10" ios:shadowRadius="10" shadowOpacity="0.2" shadowColor="#000" shadowOffsetHeight="10" >
			<StackLayout class="list-group-item "><!-- IMPORTANTE -->
				<StackLayout class="list-group-item-grid " >
					<Label class="row" textWrap="true" >
						<FormattedString>
							<Span [text]="'USER.NAME'|L" class="label"></Span>
							<Span fontSize="18" text=" "></Span>
							<Span [text]="profile.name" class="value"></Span>
						</FormattedString>
					</Label>
					<Label class="row" textWrap="true" >
						<FormattedString>
							<Span [text]="'USER.SURNAME'|L" class="label"></Span>
							<Span fontSize="18" text=" "></Span>
							<Span [text]="profile.surname" class="value"></Span>
						</FormattedString>
					</Label>
					<Label class="row" textWrap="true" >
						<FormattedString>
							<Span [text]="'USER.GENDER'|L" class="label"></Span>
							<Span fontSize="18" text=" "></Span>
							<Span [text]="profile.gender" class="value"></Span>
						</FormattedString>
					</Label>
					<Label class="row" textWrap="true" >
						<FormattedString>
							<Span [text]="'USER.DATE_OF_BIRTH'|L" class="label"></Span>
							<Span fontSize="18" text=" "></Span>
							<Span [text]="profile.date_of_birth" class="value"></Span>
						</FormattedString>
					</Label>
					<Label class="row" textWrap="true" >
						<FormattedString>
							<Span [text]="'USER.PLACE_OF_BIRTH'|L" class="label"></Span>
							<Span fontSize="18" text=" "></Span>
							<Span [text]="profile.place_of_birth"></Span>
						</FormattedString>
					</Label>
					<Label class="row last" textWrap="true" >
						<FormattedString>
							<Span [text]="'USER.NATIONALITY'|L" class="label"></Span>
							<Span fontSize="18" text=" "></Span>
							<Span [text]="profile.nationality"></Span>
						</FormattedString>
					</Label>
				</StackLayout>
			</StackLayout><!-- IMPORTANTE -->
		</CardView>
	</StackLayout>
