<ActionBar>
  <StackLayout orientation="horizontal">
    <Image src="~/assets/images/icon.png" height="20"></Image>
    <Label text="{{'NOTIFICATIONS.NOTIFICATIONS'|L}}"></Label> 
  </StackLayout>
</ActionBar>

<GridLayout class="page page-content">
    <RadListView [items]="notifications" class="list-group">
        <ng-template tkListItemTemplate let-notification="item">
            <StackLayout class="list-group-item">
                <GridLayout rows="*, *, *" columns="*, *" class="list-group-item-content">
                    <Label [text]="notification.title" class="text-primary font-weight-bold"></Label>
                    <Label col="1" horizontalAlignment="right" class="list-group-item-text m-r-5">
                        <FormattedString>
                            <Span text="&euro;"></Span>
                            <Span [text]="notification.title"></Span>
                            <Span text="/day"></Span>
                        </FormattedString>
                    </Label>

                    <StackLayout row="1" class="hr-light m-t-5 m-b-5" colSpan="2"></StackLayout>

                    <StackLayout row="2" col="1" verticalAlignment="center" class="list-group-item-text">
                        <Label class="p-b-10">
                            <!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
                            <FormattedString ios:fontFamily="system">
                                <Span text="&#xf1b9;   " class="fa text-primary"></Span>
                                <Span [text]="notification.title"></Span>
                            </FormattedString>
                        </Label>
                        <Label class="p-b-10">
                            <!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
                            <FormattedString ios:fontFamily="system">
                                <Span text="&#xf085;   " class="fa text-primary"></Span>
                                <Span [text]="notification.title"></Span>
                                <Span text=" Transmission"></Span>
                            </FormattedString>
                        </Label>
                        <Label>
                            <!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
                            <FormattedString ios:fontFamily="system">
                                <Span text="&#xf2dc;   " class="fa text-primary"></Span>
                                <Span [text]="notification.title ? 'Yes' : 'No'"></Span>
                            </FormattedString>
                        </Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </ng-template>
    </RadListView>

    <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</GridLayout>